extends ind 

block content
    h1 SWAGGER PET STORE
    div
        h3 /pets
        p GET: List all pets
        p POST: Create a pet
    div
        h3= '/pets/{petId}'
        p GET: Info for a specific pet
        p PUT: Update a specific pet
        p DELETE: Delete a specific pet